<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'edit/style.css' %}">
        <title>Games and Goods!</title>
    </head>
    <body>
        <header>
            <div>
                Logged in as: {{ user.email }}
            </div>
            <div class="UI">
                <button><a href='/logout'>Logout</a></button>
                <a href='/cart'><img src="{% static 'images/shoppingcart.png' %}" alt="shoppingcart" class="shoppingcart"></a>
            </div>
        </header>
        <div class="maincontent">
            <ul>
                <li class="home"><a href='/home'>Home</a></li>
                <li class="categories"><a href='/categories'>Categories</a></li>
            </ul>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form class="edit" action="/update" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm">Confirm PW:</label>
                <input type="password" name="confirm" id="confirm" class="form-control">
            </div>
            <button class="btn btn-primary">Update Info</button>
        </form>
    </body>
</html>